.loginPage {
    background-color: #e0f7fa; /* light cyan */
}

.custom-btn {
    background-color: #00bcd4;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    padding: 8px 12px;
}

.custom-btn:hover {
    background-color: #008c9e;
    color: #fff;
}
